<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gilsonbarbosa.meuprogramamisto">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Aula1Activity" />
        <activity android:name=".Aula2Activity" />
        <activity android:name=".Aula3Activity" />
        <activity android:name=".Aula4Activity" />
        <activity android:name=".CadastroPessoaActivity" />
        <activity android:name=".CadastroFuncionarioActivity" />
        <activity android:name=".CadastroAnimalActivity" />
        <activity android:name=".CicloVidaActivity" />
        <activity android:name=".AtividadePaticaActivity" />
        <activity android:name=".SejaBemVindoActivity" />
        <activity android:name=".AulaCincoActivity" />
        <activity android:name=".NovoActivity"></activity>
        <activity android:name=".CadastroViewActivity"></activity>
    </application>

</manifest>